
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&display=swap');

body {
  font-family: 'Chivo Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(123, 200, 175);
  justify-content: center;
}

.loginBox {
  height: 450px;
  width: 300px;
  background: rgb(255, 235, 183);
  border-radius: 60px;
  padding: 4rem;
  position: relative;
}

.loginBox-header,
.loginBox-form,
.loginBox,
.signbtn,
.inputBox-other {
  text-align: center;
}

.loginBox a {
  text-decoration: none;
  color: rgb(226, 115, 40);
}

.loginBox a:hover {
  text-decoration: underline;
}

.loginBox-header {
  margin-bottom: 0.8rem;

}

.loginBox-header h1 + div {
  font-size: calc(1rem * 0.8);
}

.loginBox-header h1 {
  font-size: 5rem;
  font-weight: 700;
  color: rgb(89, 60, 44);
  margin-bottom: .5rem;
  margin-top: 0px;
}

.loginBox-form{

  display: flex;
  flex-direction:column;
  gap: .5rem;
}

.checkbox {
  margin-bottom: 0.5rem;
}


.signbtn {
  font-family: 'Chivo Mono', monospace;
  font-weight: bold;
  justify-content: center;
  border-radius: 50px;
  padding: .8rem;
  position: relative;
  margin-bottom: 10px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}
